.topic-list {
  .likes {
    width: auto;
  }
  .views {
    width: auto;
  }
  .posts {
    width: auto;
  }
  th,
  td {
    &:last-of-type {
      padding-right: 19px;
    }
  }
}

.topic-list.categories {
  .poster-avatar,
  .poster-info {
    display: inline-table;
    font-size: 11px;
  }
}

.category-heading {
  p {
    color: #fff;
    line-height: 0;
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
  }
  .btn {
    padding: 5px 10px;
    float: right;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-size: 12px;
    color: #666666;
    font-weight: 700;
    margin: 8px 0 8px 8px;
  }
  .category-notification-menu {
    float: right;
  }
}

.category-logo {
  max-height: 150px;
  float: left;
  margin-bottom: 0;
  margin-right: 0;
}

.subcategory-logo {
  width: 15px;
}
