.post-menu-area {
  margin-bottom: 0;
  margin-top: 10px;
}

#topic-title {
  z-index: 1000;
  padding: 25px 30px 15px 30px;
  margin-bottom: 0;
  .badge-category-bg {
    display: none;
  }
  .badge-category {
    font-weight: 700;
    font-size: 11px;
    color: #BBBBBB !important;
    text-transform: uppercase;
  }
  h1 {
    a {
      font-weight: 700;
      font-size: 22px;
      color: #333333;
    }
  }
}

#topic-closing-info {
  width: initial;
  margin: 0 30px 0 30px;
}
