section.post-menu-area {
  font-weight: 700;
  font-size: 12px;
  color: #999999;
}

nav.post-controls {
  padding: 0 20px 10px 10px;
  .actions {
    width: 100%;
    text-align: left;
    float: left;
    button {
      font-weight: bold;
      font-size: 12px;
      color: #999999;
      &.d-hover {
        background: none;
        color: #666;
      }
    }
    .left {
      float: left;
      i {
        margin-right: 5px;
      }
    }
    .right {
      float: right;
      display: inline-block;
      button,
      .topic-meta-data {
        display: inline-block;
      }
      .topic-meta-data {
        .edits {
          float: none;
          position: initial;
          padding: 7px 0 7px 10px;
          margin: 0;
        }
      }
      .like-count {
        margin-right: 0;
        i {
          margin-left: 5px;
          font-size: 90%;
        }
      }
    }
  }
  .show-replies {
    margin: 0;
  }
}

.topic-reply-above {
  margin-left: 110px;
  width: 810px;
  .embedded-posts {
    &.top {
      padding: 10px 20px;
      background: #E4E4E4;
      width: 100%;
      margin: 0 0 2px 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .fa-mail-forward {
      float: left;
      margin: 5px 0 0 0;
      color: #DC7600 !important;
    }
    .topic-avatar {
      padding: 0;
      width: 25px;
      margin: 0 0 0 10px;
      .avatar {
        width: 25px;
        height: 25px;
      }
      div {
        display: none;
      }
    }
    .topic-body {
      padding: 0;
      margin: 0 0 0 10px;
      width: calc(100% - 130px);
      background: #F0F0F0;
      .topic-meta-data {
        margin: 10px 0 0 10px;
      }
      .cooked {
        padding: 0 0 0 10px;
        margin-top: 0;
        font-size: 12px;
        p {
          margin-bottom: 10px;
        }
      }
    }
    .idnet-collapse-reply-above,
    .idnet-jump-to-reply {
      float: right;
      margin: 0 0 0 10px;
    }
  }
}

.embedded-posts {
  padding: 20px;
  &.bottom {
    .topic-avatar {
      padding: 0;
    }
    .topic-body {
      margin: 0 0 10px 10px;
      width: calc(100% - 100px);
      .topic-meta-data {
        display: none;
      }
      .cooked {
	padding: 0;
        margin: 0;
      }
    }
  }
}

.topic-reply-data {
  background: #E4E4E4;
  margin-bottom: 2px;
  padding: 10px 20px 10px 20px;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: 110px;
  width: 810px;
  &:hover {
    background: #ddd;
    .fa-idnet-expand {
      background: asset-url('images/fa-icons/expand-hover@2x.png');
      background-size: 24px;
    }
  }
  &.hide-meta-data {
    display: none;
  }
  .reply-to-tab {
    display: inline-table;
    width: 776px;
    color: #DC7600 !important;
    font-weight: 700;
    span {
      font-size: 12px;
    }
    .idnet-expand-reply-above {
      float: right;
      margin: 0 0 0 5px;
      cursor: pointer;
      height: 24px;
    }
    img,
    span {
      margin-left: 10px;
    }
  }
  .up-button {
    float: right;
  }
  .idnet-jump-to-reply {
    float: right;
    margin: 0 0 0 10px;
    cursor: pointer;
    height: 24px;
  }
}

$topic-meta-body-width: 850px;
$topic-avatar-width: 90px;

.topic-avatar {
  width: $topic-avatar-width;
  border-top: 0;
  padding-right: 0;
  padding-top: 0;
  border-radius: 2px;
  padding-right: 20px;
  text-align: right;
  .username {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .avatar {
    width: 48px;
    height: 48px;
    padding-bottom: 10px;
  }
  > div {
    padding-bottom: 6px;
    line-height: 13px;
  }
  .joined-at,
  .posts-count {
    font-size: 10px;
    color: #999999;
    padding-bottom: 2px;
  }
}

.topic-meta-body {
  width: $topic-meta-body-width;
  float: left;
  &.no-top-border-radius {
    .topic-body {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.topic-body {
  width: 100%;
  border-top: 0;
  background: rgba(215,215,215,0.29);
  border-radius: 6px;
  padding: 0;
  .post-info {
    position: relative;
    float: right;
    padding: 20px 20px 0 0;
  }
  .cooked {
    padding: 20px 20px 0px 20px;
  }
}

.idnet-post-meta-body {
  float: left;
  width: 850px;
}

.topic-post {
  &:nth-child(even) {
    background: #F5F5F5;
  }
  &.topic-owner:first-child .topic-avatar .avatar {
    width: 80px;
    height: 80px;
  }
  article {
    padding: 15px 30px;
  }
}

.extra-info {
  h1 {
    margin: 0;
  }
}

#topic-footer-buttons {
  padding: 10px 30px 0 30px;
}

.gap {
  width: initial;
}

.small-action {
  max-width: initial;
}
