section.post-menu-area {
  font-weight: 700;
  font-size: 12px;
  color: #999999;
}

nav.post-controls {
  padding: 0 20px 10px 10px;
  .actions {
    width: 100%;
    text-align: left;
    float: left;
    button {
      font-weight: bold;
      font-size: 12px;
      color: #999999;
    }
    .left {
      float: left;
      i {
        margin-right: 5px;
      }
    }
    .right {
      float: right;
      .like-count {
        margin-right: 0;
        i {
          margin-left: 5px;
          font-size: 90%;
        }
      }
    }
  }
}

.topic-reply-above {
  float: left;
  margin-left: 110px;
  width: 850px;
  display: inline-block;
  .embedded-posts {
    &.top {
      background: #ddd;
      width: 100%;
      margin: 0 0 2px 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .fa-mail-forward {
      float: left;
      margin: 20px 0 0 10px;
      color: #DC7600 !important;
    }
    .topic-avatar {
      padding-left: 0;
      padding-right: 10px;
      width: 30px;
      .avatar {
        width: 25px;
        height: 25px;
      }
      div {
        display: none;
      }
    }
    .topic-body {
      padding: 0;
      margin: 15px 0;
      width: calc(100% - 135px);
      background: #eee;
      .topic-meta-data {
        margin: 10px 0 10px 20px;
        width: initial;
        padding: 0;
        background: none;
      }
      .cooked {
        padding: 0 0 0 20px;
      }
    }
    .idnet-collapse-reply-above,
    .idnet-jump-to-reply {
      float: right;
      margin: 12px 11px 0 0;
    }
  }
}

.topic-meta-data {
  background: #ddd;
  margin-bottom: 2px;
  padding: 12px 11px 15px 11px;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: 110px;
  width: 828px;
  &.hide-meta-data {
    display: none;
  }
  .reply-to-tab {
    color: #DC7600 !important;
    font-weight: 700;
    .idnet-expand-reply-above,
    .idnet-jump-to-reply {
      float: right;
      margin: 0 0 0 10px;
      cursor: pointer;
    }
  }
}

$topic-meta-body-width: 850px;
$topic-avatar-width: 90px;

.topic-avatar {
  width: $topic-avatar-width;
  border-top: 0;
  padding-right: 0;
  padding-top: 0;
  border-radius: 2px;
  padding-right: 20px;
  text-align: right;
  .username {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .avatar {
    width: 48px;
    height: 48px;
    padding-bottom: 10px;
  }
  .joined-at,
  .posts-count {
    font-size: 10px;
    color: #999999;
  }
  > div {
    padding-bottom: 6px;
    line-height: 13px;
  }
}

.topic-meta-body {
  width: $topic-meta-body-width;
  float: left;
  &.no-top-border-radius {
    .topic-body {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.topic-body {
  width: 100%;
  border-top: 0;
  background: rgba(215,215,215,0.29);
  border-radius: 6px;
  padding: 0;
  .post-info {
    position: relative;
    float: right;
    padding: 20px 20px 0 0;
  }
  .cooked {
    padding: 20px 20px 0px 20px;
  }
}

.idnet-post-meta-body {
  float: left;
  width: 850px;
}

.topic-post {
  &:nth-child(even) {
    background: #F5F5F5;
  }
  &.topic-owner:first-child .avatar {
    width: 80px;
    height: 80px;
  }
  article {
    padding: 15px 30px;
  }
}

.extra-info {
  h1 {
    margin: 0;
  }
}
