section.post-menu-area {
  font-weight: 700;
  font-size: 12px;
  color: #999999;
}

nav.post-controls {
  padding: 0 20px 10px 10px;
  .actions {
    text-align: left;
    float: left;
  }
}

$topic-meta-body-width: 850px;
$topic-avatar-width: 90px;

.topic-meta-body {
  width: $topic-meta-body-width;
  float: left;
  .topic-meta-data {
    background: rgba(215, 215, 215, 0.29);
    margin-bottom: 2px;
    padding: 12px 11px 15px 11px;
    border-radius: 6px;
  }
}

.topic-body {
  width: 100%;
  border-top: 0;
  background: rgba(215,215,215,0.29);
  border-radius: 6px;
  padding: 0;
  .post-info {
    position: relative;
    float: right;
    padding: 20px 20px 0 0;
  }
  .cooked {
    padding: 20px 20px 15px 20px;
  }
}

.topic-avatar {
  width: $topic-avatar-width;
  border-top: 0;
  padding-right: 0;
  padding-top: 0;
  border-radius: 2px;
  padding-right: 20px;
  text-align: right;
  .username {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .avatar {
    width: 48px;
    height: 48px;
    padding-bottom: 10px;
  }
  .joined-at,
  .posts-count {
    font-size: 10px;
    color: #999999;
  }
  > div {
    padding-bottom: 6px;
    line-height: 13px;
  }
}

.topic-post {
  &:nth-child(even) {
    background: #F5F5F5;
  }
  &.topic-owner:first-child .avatar {
    width: 80px;
    height: 80px;
  }
  article {
    padding: 15px 30px;
  }
}

.extra-info {
  h1 {
    margin: 0;
  }
}

.embedded-posts {
  margin-bottom: 10px;
  .topic-body {
    box-sizing: border-box;
    width: calc(100% - 130px); // [100% - .topic-avatar width]
    // WARNING: overflow hide is required for quoted / embedded images
    // which expect "normal" post width, but expansions are narrower
    overflow: hidden;
    padding: 15px 15px 0 15px;
    margin-top: 15px;
    .topic-meta-data {
      display: none;
    }
    .cooked {
      margin-top: 0;
    }
  }

  // top means "in reply to expansion" above a post
  &.top {
    margin-left: 0;
    width: 974px;
  }
}

@media (max-width: 940px) {
  .topic-meta-body {
    width: 100%;
  }
  #topic-closing-info {
    width: 100%;
  }
}
