.badge-wrapper {
  &.bullet {
    span.badge-category {
      font-weight: 700;
      font-size: 10px;
      color: #333333 !important;
    }

    .badge-category-parent-bg, .badge-category-bg {
      border-radius: 50%;
      width: 6px;
      height: 6px;
      margin-right: 5px;
      display: inline-block;
      line-height: 7px;
    }

   .badge-subcategory-bg {
      border-radius: 50%;
      width: 4px;
      height: 4px;
      margin-right: 5px;
      display: inline-block;
      line-height: 6px;
   }
  }
}
