.nav-pills {
  > li {
    > a {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 11px;
      color: #0054A6;
    }
  }
}

@media (max-width: 720px) {
  .nav-pills {
    display: none;
  }
}
