.d-header {
  box-shadow: none;
  background-color: $header_background;
  .contents {
    margin: 20px 0 0 0;
    height: 31px;
    padding: 10px 19px;
  }
  .login-button, button.sign-up-button {
    margin-top: 0;
  }
  .header-menu {
    margin-left: 10px;
    display: inline-block;
    ul {
      margin: 0;
      li {
        margin: 10px 0 10px 10px;
        float: left;
        a {
          line-height: 13px;
          transition: background .15s;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 11px;
          color: #0054A6;
          border-right: 1px solid #DDDDDD;
          padding: 0 10px 0 0;
          &:hover {
            color: none;
            background: none;
          }
        }
        &.active > a, > a.active {
          color: $secondary;
          background-color: $quaternary;
        }
      }
      li:last-child a {
        border-right: none;
      }
    }
  }
  .icons {
    > li {
      margin-left: 5px;
    }
    .icon {
      padding: 0;
      .avatar {
        width: 30px;
        height: 30px;
      }
    }
    .create-topic {
      background: #FF774D;
      border-radius: 3px;
      font-weight: 700;
      font-size: 12px;
      color: #FFFFFF;
      margin-left: 10px;
      .fa-plus {
        width: auto;
        height: auto;
        font-size: 12px;
        line-height: 12px;
      }
    }
    .flagged-posts {
      right: 163px;
      border: 1px solid white;
    }
    .drop-down-visible & {
      .active .icon {
        .flagged-posts {
          right: 48px;
        }
      }
    }
    .unread-notifications {
      left: 227px;
      right: initial;
    }
  }
  .current-user {
    span {
      margin-left: 8px;
      color: #333333;
      font-weight: 700;
      font-size: 12px;
    }
  }
}
