.timeline-container {
  height: auto;
  @media all and (min-width: 1150px) {
    margin-left: 1020px;
  }
  @media all and (max-width: 1149px) {
    display: none;
  }
  .topic-timeline {
    margin-left: 0;
    text-align: center;
    width: 70px;
    transition: opacity 0.2s ease-in;
    background: rgba(255,255,255,0.86);
    border: 1px solid rgba(150,150,150,0.17);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.03);
    border-radius: 7px;
  }
  .topic-timeline {
    span {
      display: block;
      font-family: Roboto-Regular;
      font-size: 10px;
      color: #3D71A8;
      width: 45px;
      margin: 0 auto;
      line-height: 10px;
      &:first-child {
        margin-top: 12px;
      }
    }
    a {
      font-weight: bold;
      font-size: 10px;
      color: #3D71A8 !important;
      &:last-child {
        margin-bottom: 12px;
        margin-top: 2px;
      }
    }
    .timeline-scrollarea {
      border-color: #3D71A8;
      border-radius: 2px;
      margin-left: 2.5em;
      margin-top: 17px;
      margin-bottom: 17px;
      .timeline-scroller-content {
	position: relative;
	background: #020203;
        display: none;
        font-size: 10px;
        position: absolute;
        margin-left: -90px;
        padding: 10px;
        color: white !important;
        background: #070707;
        border-radius: 3px;
        text-align: left;
        width: 50px;
        div {
          line-height: 14px;
        }
        .timeline-ago {
          color: white;
        }
      }
      .timeline-scroller-content:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(2, 2, 3, 0);
	border-left-color: #020203;
	border-width: 8px;
	margin-top: -8px;
      }
    }
    .timeline-handle {
      border-radius: 4px;
      background: #3D71A8;
    }
    &:hover {
      .timeline-scroller-content {
          display: block;
      }
    }
  }
}
